<p id="notice"><%= notice %></p>

<div class="toppage">
  <div class="row">
    <div class="col-md-12">
      <%= month_calendar events: @posts do |date, posts| %>

        <%= date.day %>
        <% if posts.blank? %>
          <%= link_to '＋', new_post_path(default_date: date) , class: "btn btn-success" %>
        <% end %>

        <% posts.each do |posts| %>
          <div>
            <%= link_to image_tag(posts.get_post_image(100,100)), posts %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>