<%= form_with(model: @post, url: posts_path, method: :post, local: true) do |f| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= f.text_field :title %>
  </div>

  <div class="content">
    <div class="form-tag">内容</div>
    <%= f.text_field :content %>
  </div>

  <div class="content">
    <div class="form-tag">画像</div>
    <%= f.file_field :post_image, accept: "image/*" %>
  </div>

  <div class="content">
    <div class="form-tag">キーフレーズ</div>
    <%= f.text_field :search_word, placeholder: "思い出のひとこと（検索用）" %>
  </div>

  <%= f.hidden_field :start_time, value: @default_date %>

 <div class="submit">
    <%= f.submit %>
 </div>

<% end %>