<p id="notice"><%= notice %></p>

<div class="toppage">
  <h1 class="top">カレンダー</h1>
  <br>

  <div class="row">

    <div class="col-md-4">
      <div class="schedule">今後の予定一覧</div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>タイトル</th>
              <th>日程</th>
            </tr>
          </thead>

          <tbody>
            <% @memories.each do |memory| %>
              <tr>
                <td><%= link_to memory.title , memory %></td>
                <td><%= memory.start_time %></td>
              </tr>
            <% end %>
          </tbody>
        </table>



      <%= form_with(model: @memory, local: true) do |f| %>

        <div class="title">
          <div class="form-tag">タイトル</div>
          <%= f.text_field :title %>
        </div>


        <div class="content">
          <div class="form-tag">内容</div>
          <%= f.text_field :content %>
        </div>

        <div class="time">
          <div class="form-tag">時間</div>
          <%= f.datetime_select :start_time %>
        </div>

       <div class="submit">
          <%= f.submit %>
       </div>

      <% end %>

    </div>

    <br>

    <br>

    <div class="col-md-8">
      <%= month_calendar events: @memories do |date, memories| %>

        <%= date.day %>

        <% memories.each do |memory| %>
          <div>
            <%= link_to memory.title, memory %>
          </div>
        <% end %>

      <% end %>
    </div>

  </div>
</div>