<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<%= @user.nickname %>
<%= image_tag @user.image %>
<%= image_tag @user.new_image %>

<%= link_to 'グループ登録', new_group_session_path %>
<%= link_to 'グループ参加', new_group_registration_path %>